<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">


  <h2>Flask Web Form</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="beta">Beta:</label>
      <input type="text" class="form-control" id="beta" name="beta" placeholder="Inverse Temperature">
    </div>
    <div class="form-group">
      <label for="width">Width (L) :</label>
      <input type="text" class="form-control" id="width" name="width" placeholder="Width of square lattice">
    </div>
    <div class="form-group">
      <label for="freq">Percentage:</label>
      <input type="text" class="form-control" id="freq" name="freq" placeholder="Percentage of RECA">
    </div>
    <div class="form-group">
      <label for="steps">T Steps:</label>
      <input type="text" class="form-control" id="steps" name="steps" placeholder="Number of MC steps">
    </div>
    <button type="submit" class="btn btn-success" value="Run">Run Job</button>
    <button type="submit" class="btn btn-success" value="Graph">Graph</button>
  </form>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

</div>
<br>
</div>
</div>
</body>
</html>